*,
*::after,
*::before {
  box-sizing: inherit;
}

a, a:visited {
  color: #5B6C8C;
  text-decoration: underline;
}

body {
  min-height: 100%;
  background-color: #f9fbef;
  color: #333;
  margin: 0;
  padding: 0;
}

.index_title h1 {
  margin-top: -16rem;
  font-size: 5rem;
  line-height: 6rem;
}

.footer_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.author_page_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12%;
  padding-right: 12%;
}

.author_page_container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

footer {
  width: 90%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 500;
  color: #777;
}

footer {
  border-radius: 20px;
  background: #f9fbef;
  box-shadow:  8px 8px 12px #f2f3e8,
               -8px -8px 12px #fffff6;
}

html {
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  color: #222;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 2.25rem;
  margin: 0 0 0.75rem;
}

h2 {
  color: #444;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 0 0.25rem;
}

header {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.nav_ul {
  padding-inline-start: 0px !important;
}

header nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left: 12%;
  padding-right: 12%;
}

header nav {
  border-radius: 20px;
  background: #f9fbef;
  box-shadow:  8px 8px 12px #f2f3e8,
               -8px -8px 12px #fffff6;
}

header ul {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

header li + li {
  padding-bottom: auto;
  margin-left: 1.25rem;
}

header a, header a:visited {
  color: #5B6C8C;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: .1rem;
  font-size: 1.2rem;
}

main {
  margin: 0 auto;
  width: 70%;
}

.series {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  border-radius: 20px;
  background: #f9fbef;
  box-shadow: inset 8px 8px 12px #f2f3e8,
              inset -8px -8px 12px #fffff6;
}

.author {}

.author > h2 {}

.author > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.author > ul > li::before {
  background: rgba(55, 65, 81);
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.25rem;
  position: absolute;
  margin-top: -0.125rem;
  top: 50%;
  left: 0.125rem;
  width: 0.25rem;
}

.author > ul > li + li {
  margin-top: 0.25rem;
}

.author > ul > li > a {
  font-size: 1rem;
}

.author img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.authors {}

.authors > div {}

.authors > div + div {
  margin-top: 2rem;
}

.authors > div > h2 {}

.authors > div img {
  border-radius: 50%;
}

.authors > div > p {
  font-size: 14px;
  margin: 4px 0;
}

.authors > div > a {
  display: block;
  font-size: 14px;
}

.post_page_card_profile {
  background: #E4F3EF;
  box-shadow: 0px 6px 4px #E4F3EF,
              0px -2px 2px #E4F3EF;
  padding-left: 1rem;
}

.series h1 {
  padding-left: 4%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.series > div > div > a {
  font-weight: 700;
  font-size: 0.875rem;
}

.post_page_card_title p {
  padding-left: 1.25rem;
  font-size: 0.875rem;
  margin-top: 0.25rem !important;
  margin-bottom: 0 !important;
}

.post_page_card a {
  font-weight: 700;
}

.posts h1 {
  padding-left: 4%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.author h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.post > div {
  align-items: center;
  display: flex;
}

.post > div:last-of-type {
  display: block;
}

.post > div img {
  border-radius: 50%;
}

.post p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.post p + p {
  margin-top: 1.25rem;
}

.posts {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  border-radius: 20px;
  background: #f9fbef;
  box-shadow: inset 8px 8px 12px #f2f3e8,
              inset -8px -8px 12px #fffff6;
}

.post_card_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  flex-shrink: 0;
  margin-top: -1.5rem;
}

.series_page_list_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  flex-shrink: 0;
  padding-bottom: 4rem;
}

.author {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  border-radius: 20px;
  background: #f9fbef;
  box-shadow: inset 8px 8px 12px #f2f3e8,
              inset -8px -8px 12px #fffff6;
}

.posts > div > article {
  display: flex;
  flex-direction: column;
  width: 44%;
  margin-top: 1.5rem;
  height: auto;
  margin-left: 4%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 20px;
  background: #f9fbef;
  box-shadow:  8px 8px 12px #f2f3e8,
               -8px -8px 12px #fffff6;
}


.series > div > article {
  display: flex;
  flex-direction: column;
  width: 44%;
  margin-top: 1.5rem;
  height: auto;
  margin-left: 4%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 20px;
  background: #f9fbef;
  box-shadow:  8px 8px 12px #f2f3e8,
               -8px -8px 12px #fffff6;
}

.posts > div > article > a {
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
}

.posts > div > article > div {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: auto;
}

.post_page_card_title {
  padding-bottom: 1rem;
}

.posts > div > article > div img {
  border-radius: 50%;
  width: 4rem;
}

.posts > div > article > div > div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.posts > div > article > div > div > time {
  color: #222;
  display: block;
  font-size: 0.75rem;
}

.posts > div > article > div > div > strong {
  color: #222;
  font-size: 0.875rem;
  font-weight: medium;
  margin-bottom: 0.125rem;
}

.posts > div > article > h2 {
  margin-bottom: 0.125rem;
}

.posts > div > article > p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0 0 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-style: italic;
}

.posts > div > article > span {
  color: #222;
  display: block;
  font-size: 0.75rem;
  margin: 0 0 0.5rem;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 11pt;
  }
}

@media only screen and (max-width: 460px) {
  html {
    font-size: 10pt;
  }
}

@media only screen and (max-width: 960px) {
  .series_page_list_container {
    flex-direction: column;
  }

  .series > div > article {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 960px) {
  .post_card_container {
    flex-direction: column;
  }
  .posts > div > article {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 960px) {
  .footer_container {
    width: 84%;
  }
  header {
  width: 84%;
  }
  main {
  width: 84%;
  }
}

@media only screen and (max-width: 460px) {
  .footer_container {
    width: 90%;
  }
  header {
  width: 90%;
  }
  main {
  width: 90%;
  }
}
